<div id="new_comment" class="flex flex-col gap-3 ">
        <h2 class="text-2xl font-semibold "> Comment On This Post</h2>
        <%= form_with model: comment, url: comments_path(post_id: post.id), method: :post, class: "flex flex-col items-start gap-2", data: { controller: "reset-new-comment-form", action: "turbo:submit-end->reset-new-comment-form#reset" } do |f| %>
               <%= f.text_area :text, class: "rounded-md h-[150px] w-3/5 bg-gray-200 border-none focus:bg-white font-medium px-4", placeholder: "Add a comment here" %>

               <%= f.submit "Add comment", class: "bg-green-500 text-white p-2 rounded-md" %>
        <% end %>
   </div>