<div class=" w-full flex justify-between items-center px-11 py-5">
    <div class="flex">
        <h2>BLOG</h2>
        <P>HUB</P>
    </div>
    <nav >
        <%= link_to "Login", login_path, class: "border-[2px] border-blue-300 px-4 py-1 rounded-full" %>
        <%= link_to "Sign up", login_path, class: "border-[2px] border-blue-300 px-4 py-1 rounded-full" %>
    </nav>
</div>