 <%= turbo_frame_tag dom_id(post, :likes), class: "flex items-center gap-1 ", target: "_top" do %>
    <%= button_to likes_path(post_id: post.id), method: :post do %>
                  <% if post.liked?(current_user) %>
                  <i class="fa-solid fa-heart fa-beat fa-xs" style="color: #f21818;--fa-beat-scale: 2.0; --fa-animation-iteration-count: 1; --fa-animation-duration: 400ms;"></i> 
                  <% else %>
                 <i class="fa-regular fa-heart fa-xs"></i>
                 <% end %>     

            <% end %>

    <p class="text-xs font-bold"><%= post.likes_counter %> </p>
    
 <% end %>
 